@import url("modal.css");
@import url(media.css);

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

main {
  margin-bottom: 40px;
}

/* PHOTOGRAPHERS */

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer--card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer--card a {
  text-decoration: none;
  text-align: center;
}

.photographer--card a:hover {
  text-decoration: underline;
  text-decoration-color: #d3573c;
}

.photographer-header {
  padding: 55px 50px;
}

.photographer-header {
  background-color: #fafafa;
  margin: 0 100px;
}

.photographer--details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photographer_name {
  font-weight: 400;
  color: #d3573c;
}

.photographer--card .photographer_name {
  font-size: 36px;
  margin: 20px 0 0;
}

.photographer--details .photographer_name {
  font-size: 64px;
  margin: 0;
}

.photographer_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer p {
  margin-top: 0;
}

.photographer--card p:not(:last-of-type) {
  margin-bottom: 3px;
}

.photographer--details p {
  margin-bottom: 0;
}

.photographer_location {
  color: #901c1c;
}

.photographer--card .photographer_location {
  font-size: 13px;
}

.photographer--details .photographer_location {
  font-size: 24px;
  margin-bottom: 19px;
}

.photographer--card .photographer_tagline {
  font-size: 10px;
}

.photographer--details .photographer_tagline {
  font-size: 18px;
  margin-bottom: 0;
}

.photographer--card .photographer_price {
  color: #757575;
  font-size: 9px;
}

.photographer_fixed-details,
.photographer_likes {
  display: flex;
  align-items: center;
}

.photographer_fixed-details {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 36px;
  font-size: 24px;
  padding: 18px 32px;
  font-weight: 500;
  border-radius: 5px 5px;
  z-index: 1;
  gap: 46px;
  justify-content: space-between;
  min-width: 275px;
}

.photographer_likes {
  gap: 4px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#main-wrapper.no-scroll {
  height: 100vh;
  overflow: hidden;
}

/* filer */

.photographer-media_filter {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}

.media-sort-label {
  margin: 0;
}

.media-sort {
  border-radius: 5px;
  position: relative;
}

.media-sort__trigger,
.media-sort__options {
  background-color: #901c1c;
  color: #fff;
  font-weight: 700;
  width: 170px;
}

.media-sort__trigger {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  border: none;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.media-sort--open .media-sort__trigger {
  border-radius: 5px 5px 0 0px;
}

.media-sort__trigger img {
  width: 16px;
}

.media-sort--open .media-sort__trigger img {
  transform: rotate(180deg);
}

.media-sort__options {
  border-top: 2px solid #fff;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  height: fit-content;
  border-radius: 0 0px 5px 5px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.media-sort--open .media-sort__options {
  display: block;
}

.media-sort__option {
  padding: 15px 10px 0;
  cursor: pointer;
}

.media-sort__option--current {
  background-color: #6c1515;
}

.media-sort__option span {
  padding: 0 10px;
}

.media-sort__option:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-top: 15px;
}

.media-sort__option:last-child {
  padding-bottom: 15px;
}
